@import url("https://fonts.googleapis.com/css?family=Poppins:wght@200,400,600&display=swap");

:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  padding: 50px 30px;
}

.title,
.title-bold,
.subtitle {
  text-align: center;
}

.title,
.subtitle {
  color: var(--Grayish-Blue);
}

.title {
  font-weight: 200;
  font-size: 22px;
}

.title-bold {
  color: var(--Very-Dark-Blue);
  margin-bottom: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
}

.center {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
}

.card-title {
  margin-bottom: 5px;
}

.card-text {
  color: var(--Grayish-Blue);
  font-size: 14px;
  margin-bottom: 40px;
}

.card-img {
  float: right;
}

.supervisor {
  border-top: 4px solid var(--Cyan);
}

.team-builder {
  border-top: 4px solid var(--Red);
}

.karma {
  border-top: 4px solid var(--Orange);
}

.calculator {
  border-top: 4px solid var(--Blue);
}

@media (min-width: 768px) {
  body {
    padding: 50px 200px;
  }
  .container {
    flex-direction: row;
    align-items: center;
    gap: 50px;
  }

  .card {
    width: 33%;
  }

  .center > .card {
    width: 100%;
  }
}
